.nav-bar-container {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font-family;
  border-bottom: 1px solid $form-border;
}

section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
section:first-child > span { margin-right: auto; }
section:last-child > span { margin-left: auto; }

.nav-bar-container > login-signup {
  display: flex;
    flex-direction: row;
    width: auto;
}
.header-group {
   display: flex;
    flex-direction: row;
    width: auto;
}


.left > li{
  margin: 0px 25px;
}
.left > li:first-child{
  margin-left: 0px;
  margin-right: 25px;
}

.center {
  padding: 25px;
}

.user-pic {
  max-width: 60px;
  max-height: 60px;
}

.fa-compass {
  color: $button-green;
}

.right a, .left a {
  padding: 0px 8px;
}

.left > a > i {
  padding-right: 3px;
}
