.background {


  background-color: orange;
}



.index-background {
  background-color: yellow;
  display: flex;
  justify-content: center;

}

.index-container {
  background-color: pink;

  display: flex;
  justify-content: center;
  list-style: none;
  flex-direction: row;
  justify-content: space-between;
  font-family: $font-family;
  border-bottom: 1px solid $form-border;
  flex-flow: row wrap;
  width: 1025px;

}

// .category-title {
//   background-color: green;
//
//   width: 100%;
//   display: inline-block;
//   justify-content: center;
// }

.project-widget {
  background-color: red;

  // max-width: 320px;
  border: 1px solid $form-border;
  border-radius: 6px;
  width: calc(33.33% - 29px);
  margin-top: 200px;
  margin-left: 20px;
}

.project-widget:nth-of-type(3n+0) {
  margin-right: 20px;
}

.project-widget:hover {
  background-color: green;

  cursor: pointer;
}

.pic-project {
 height: 40%;
 border-top-right-radius: 6px;
 border-top-left-radius: 6px;
 // overflow: hidden;
}

.text-container {
  background-color: white;
  padding: 15px 10px;

  height: 31%;
  display: flex;
  flex-direction: column;
}
.text-container h3 {
  background-color: yellow;
  font-size: 16px;
  margin: 0px
}
.user-project {
  margin-bottom: 10px;
}

.user-project, .subtitle-project, .location-project {
  color: $text-detail;
  font-size: 12px;
}


.subtitle-project {
  min-height: 60px;
}

.project-widget-summary {
  font-size: 12px;
}

.progress-bar {
  display: block;
  height: 8px;
  margin-left: 10px;
  margin-bottom: 10px;
  width: 94%;
  background-color: $light-gray;
  border-radius: 7px;
}
.project-widget-summary ul {
  display: flex;
  margin-left: 10px;
}

.project-widget-summary li {
  align-content: space-between;;
  padding: 5px;
}

.summary-project {
  font-size: 14px;
}

.fa-map-marker {
  padding: 0px 15px 15px 15px;
}
