body{
  background-color: $eggshell;
}
.form-box {
  background-color: white;
  width: 94%;
  border-radius: 5px;
  padding: 12px;
  margin: 10px;
  border: 1px solid $border-input ;
  letter-spacing: 1px;
  border-color: $border-input;
}

.login-form-container {
  background-color: white;
  box-sizing: border-box;
  width: 360px;
  padding: 0px 15px;
  font-family: $font-family;
  border-radius: 1px;
}
.login-form-box {
  background-color: inherit;
}

.login-form {
  background-color: inherit;
}


.login-button {
  background-color: $button-green;
  border-color: $button-green-hover;
  margin-bottom: 50px;
  text-align: center;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.login-button:hover{
  background-color: $button-green-hover;
}

.guest-button {
  background-color: $button-blue;
  border-color: $button-blue-hover;
  margin-bottom: 8px;
  text-align: center;
  color: white;
  letter-spacing: 1px;
}

.guest-button:hover{
  background-color: $button-blue-hover;
}

.redirect {
  color: blue;
  background-color: $eggshell-lite;
  text-align: center;
  border: 1px solid $form-border;
  padding: 24px;

}


#title {
  font-size: 32px;
  margin-left: 10px;
  text-transform: capitalize;

}
