$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$eggshell: rgb(247, 245, 242);
$eggshell-lite: rgb(252, 252, 251);

$logo-green: rgb(43,222,115);
$button-green: rgb(37,203,104);
$button-green-hover: rgb(5, 175, 60);

$button-blue: rgb(59, 89, 152);
$button-blue-hover: rgb(48, 72, 123);
$link-blue: rgb(39, 82, 255);
$link-blue-hover: rgb(51, 58, 104);

$form-border: rgb(241, 238, 234);
$border-input: rgb(218, 215, 212);

$text-detail: rgb(64, 64, 104);
$text-project-detail: rgb(99, 99, 105);

$pledge-box: rgb(248, 249, 253);
$pledge-border: rgb(224, 227, 253);
$pledge-level: rgb(87, 94, 241);
$pledge-title: rgb(2, 4, 35);
$pledge-description: rgb(128, 126, 160);
